h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 20px -15px 20px -24px;
    padding: 10px 20px 9px 10px;
    line-height: 18px;
    border-left: 4px solid #666666;
    background-color: #fbfbfb;
}



.old-price {
    font-family: 'trebuchet ms', geneva, sans-serif;
    font-size: 14pt;
}
.old-price strong {
    margin-left: 4rem;
    font-size: 4rem;
    color: #ff7500;
}
.new-price {
    font-family: 'trebuchet ms', geneva, sans-serif;
    font-size: 14pt;
}
.new-price strong {
    margin-left: 4rem;
    font-size: 4rem;
    color: #ff7500;
}
.old-str {
    text-decoration: line-through;
    color: black; !important;
    font-size: 2.5rem; !important;
}