a {
    color:#999;
    text-decoration:none;
}
a:hover, a:focus {
    color:#333;
}
.new {
    color:#fff;
    font-weight:bold;
    font-size:10px;
    background-color:#6CF;
    padding:0 5px;
    width:26px;
}
.pre {
    color:#fff;
    font-weight:bold;
    font-size:10px;
    background-color:#ef5b9c;
    padding:0 5px;
    width:26px;
}

.sale-title {
    color: #6CF;
}