<!doctype html>
<html lang="en">

<head>
    <title>书店管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-dialog/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>帮助</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">基本使用</a></li>
                            <li><a href="#">数据</a></li>
                            <li><a href="#">安全性</a></li>
                            <li><a href="#">问题排查</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/img/user.png" class="img-circle" alt="Avatar"> <span>管理员</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/api/account/logout"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/admin/index" class="active"><i class="lnr lnr-home"></i> <span>控制面板</span></a></li>
                    <li><a href="/admin/account" class=""><i class="lnr lnr-code"></i> <span>用户管理</span></a></li>
                    <li><a href="/admin/book" class=""><i class="lnr lnr-chart-bars"></i> <span>书籍管理</span></a></li>
                    <li><a href="/admin/order" class=""><i class="lnr lnr-chart-bars"></i> <span>订单管理</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->

    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">

                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">本周总计</h3>
                        <p class="panel-subtitle">日期: Sep 14, 2016 - Sep 21, 2016</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-download"></i></span>
                                    <p>
                                        <span class="number">{{ order_count }}</span>
                                        <span class="title">下单量</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-shopping-bag"></i></span>
                                    <p>
                                        <span class="number">{{ pay_count }}</span>
                                        <span class="title">销售</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-eye"></i></span>
                                    <p>
                                        <span class="number">{{ access }}</span>
                                        <span class="title">访问</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-bar-chart"></i></span>
                                    <p>
                                        <span class="number">{{ (pay_count / order_count) * 100 | formatDouble }}%</span>
                                        <span class="title">购买率</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div id="headline-chart" class="ct-chart"></div>
                            </div>
                            <div class="col-md-2">
                                <div class="weekly-summary text-right">
                                    <span class="number">{{ order_count }}</span>
                                    <span class="info-label">总销量</span>
                                </div>
                                <div class="weekly-summary text-right">
                                    <span class="number">￥{{ income }}</span>
                                    <span class="info-label">本周收入</span>
                                </div>
                                <div class="weekly-summary text-right">
                                    <span class="number">￥{{ income }}</span>
                                    <span class="info-label">总收入</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OVERVIEW -->

                <div class="row">
                    <div class="col-md-7">
                        <!-- RECENT PURCHASES -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">最近购买</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body no-padding">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>用户名</th>
                                            <th>金额</th>
                                            <th>时间</th>
                                            <th>状态</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="order in orders">
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.userName }}</td>
                                            <td>￥{{ order.totalPay }}</td>
                                            <td>{{ order.createdTime | formatDate }}</td>

                                            <td v-if="order.status == 1"><span class="label label-success">成功</span></td>
                                            <td v-if="order.status == 2"><span class="label label-danger">失败</span></td>
                                            <td v-if="order.status == 3"><span class="label label-danger">已退货</span></td>
                                            <td v-if="order.status == 0"><span class="label label-warning">等待付款</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> 最近24小时内数据</span></div>
                                    <div class="col-md-6 text-right"><a href="/admin/order" class="btn btn-primary">查询所有购买信息</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT PURCHASES -->
                    </div>

                    <div class="col-md-5">
                        <!-- TIMELINE -->
                        <div class="panel panel-scrolling">
                            <div class="panel-heading">
                                <h3 class="panel-title">近期用户动态</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled activity-list">
                                    <li>
                                        <img src="/assets/img/user.png" alt="Avatar" class="img-circle pull-left avatar">
                                        <p><a href="#">cying</a> 购买了《射雕英雄传》 <span class="timestamp">20 minutes ago</span></p>
                                    </li>
                                    <li>
                                        <img src="/assets/img/user.png" alt="Avatar" class="img-circle pull-left avatar">
                                        <p><a href="#">Daniel</a> 将《神雕侠侣》加入了购物车 <span class="timestamp">Yesterday</span></p>
                                    </li>
                                    <li>
                                        <img src="/assets/img/user.png" alt="Avatar" class="img-circle pull-left avatar">
                                        <p><a href="#">Martha</a> 浏览了文章《XX》 <span class="timestamp">2 days ago</span></p>
                                    </li>
                                    <li>
                                        <img src="/assets/img/user.png" alt="Avatar" class="img-circle pull-left avatar">
                                        <p><a href="#">Jane</a> 完成了《射雕英雄传》的付款<span class="timestamp">2 days ago</span></p>
                                    </li>
                                    <li>
                                        <img src="/assets/img/user.png" alt="Avatar" class="img-circle pull-left avatar">
                                        <p><a href="#">Jason</a> 撰写了《侠客行》的书评 <span class="timestamp">3 days ago</span></p>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
                            </div>
                        </div>
                        <!-- END TIMELINE -->
                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>

    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">

        </div>
    </footer>

</div>
<!-- END WRAPPER -->
</body>

<!-- Javascript -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/assets/vendor/chartist/js/chartist.min.js"></script>
<script src="/assets/vendor/vue/vue.js"></script>
<script src="/assets/vendor/vue/vue-resource.js"></script>
<script src="/assets/js/common.js"></script>
<script src="/assets/js/api.js"></script>
<script>
    $(function() {
        let data, options;

        // headline charts
        data = {
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            series: [
                [23, 29, 24, 40, 25, 24, 35],
                [14, 25, 18, 34, 29, 38, 44]
            ]
        };

        options = {
            height: 300,
            showArea: true,
            showLine: false,
            showPoint: false,
            fullWidth: true,
            axisX: {
                showGrid: false
            },
            lineSmooth: false
        };

        new Chartist.Line('#headline-chart', data, options);
    });

    let app = new Vue({
        el: '#wrapper',
        data: {
            orders: [],
            order_count : '',
            pay_count: '',
            income: '',
            access: ''
        },
        methods: {
            fetchOrderData() {
                let vm = this;

                this.$http.get(api.admin.order.list)
                    .then(resp => {
                        let result = resp.body;
                        if (result.success) {
                            vm.orders = result.data;
                        } else {
                            console.log(resp);
                        }
                    })
            }
        },
        created() {
            this.fetchOrderData();

            let vm = this;
            this.$http.get('/api/admin/analysis')
                .then(resp => {
                    let result = resp.body;
                    if (result.success) {
                        let data = result.data;
                        vm.order_count = data.order_count;
                        vm.pay_count = data.pay_count;
                        vm.income = data.income;
                        vm.access = data.access;
                    }
                })
        },
        filters: {
            formatDate(value) {
                let date = new Date(value);
                let Y = date.getFullYear() + '-';
                let M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                let D = date.getDate() + ' ';
                let h = date.getHours() + ':';
                let m = date.getMinutes() + ':';
                let s = date.getSeconds();
                return Y + M + D + h + m + s;
            },
            formatDouble(value) {
                return value.toFixed(2);
            }
        }
    })
</script>

</html>
